


.box-content i, .team-box h5, a:hover, .tabs-title > a[aria-selected="true"], .tabs-title > a:hover, .close-button:hover, .close-button:focus, #clock{
    color:#f7bc10;
}


.title::after, .vegas-timer-progress, .button, .owl-theme .owl-controls .owl-page.active span{
    background:#f7bc10;
}

.team-box img, .team-box h5, #clock, .box-subtitle, .owl-item .item img, ul#about-us, .top-bar ul li, ul.tabs li, .contacts{
    border-color:rgba(247, 188, 156, 0.4);
}

.button:hover, .button:focus{
    background:#c9990d;
}