<footer>
<!-- #BeginLibraryItem "/Library/footer.lbi" -->

    <ul id="footer_links">
    <li><a href="/">首页</a></li>
    <li><a href="/contact/">联系我们</a></li>
    <li id="footerLogo">
        <a href="index.html">
        <img src="/images/logo-footer.png" height="24" width="138" alt="Logo Footer" title="Go to Homepage">
        </a>
    </li>
    </ul>
    <div id="footer_deptinfo">
    <p>
        &#169; <script>document.write(new Date().getFullYear())</script>
        <noscript>2017</noscript>
        binwei.tech &nbsp;
        <img src="images/footer_separator.jpg" alt="" height="10" width="1">
        &nbsp; 上海市延长路149号上海大学电机楼 200072<br> 电话: 021-56334331
    </p>
    </div>
<!-- #EndLibraryItem -->
</footer>
<div class="clear"></div>