<header>
<div id="accessibilityNav">
	<ul>
		<li>
			<a id="skip" href="#topH1" title="skip to content">跳转至正文</a>
		</li>
	</ul>
</div>
<div id="audienceNav">

	<ul>
	<li><a href="http://www.shu.edu.cn/IndexPage.html">上大首页</a></li>
	<li><a href="http://gs.shu.edu.cn/">研究生院</a></li>
	<li><a href="http://www.lib.shu.edu.cn/">图书馆</a></li>
	<li><a href="http://www.fpd.shu.edu.cn/Default.aspx">新型显示实验室</a></li>
	<li><a href="http://bbs.lehu.shu.edu.cn/">乐乎论坛</a></li>
	</ul>

</div>
<hr>
<div id="SHU E-mail">
	<a id="login" href="http://mail.shu.edu.cn/">上大邮箱登陆</a>
</div>
<div id="utilityNav">
	<ul>
	<li id="contact"><a href="/contact/">联系我们</a></li>
	<li id="maps"><a href="http://j.map.baidu.com/NONmH">校园地图</a></li>
	</ul>
</div>

<div id="headerContent">
	<div id="headerTop">
	<!-- Logo -->
	<div id="cplogo">
		<a href="/">
		<img title="Go to Home" alt="bwei.tech" src="/images/logo.png">
		</a>
	</div>
	<!-- Mobile Nav -->
	<div id="mobileNavDept">
		<div id="mobileIcons">
		</div>
	</div><!-- end #mobileNavDept -->
	</div><!-- end #headerTop -->
	<div id="mobileNav">
	<ul id="mobileMenu" style="display: none;">
	</ul>
	</div><!-- end #mobileNav -->
	<div id="headerBottom">
	<!-- Department Name -->
	<div id="deptName"><!-- #BeginLibraryItem "/Library/deptname.lbi" -->
		<h2><a href="/">魏斌研究组</a></h2>
		<!-- #EndLibraryItem --><!-- #BeginLibraryItem "/Library/deptinfo.lbi" -->
		<h3><a href="/">Research Group for Organic Electronic Materials and Devices</a></h3>
		<!-- #EndLibraryItem -->
	</div>
	</div>
</div><!-- end #headerContent -->

</header>