        <div id="pageTopics">
          <div id="pageTopicsInner">
            <!-- #BeginEditable "Table Of Contents" -->
          <h2>目录</h2>
          <ul>
            <li><a href="https://scholar.google.com/citations?hl=zh-CN&user=wEAQQ2YAAAAJ&view_op=list_works&sortby=pubdate" target="_blank">Google Scholar</a></li>
            <li><a href="https://www.researchgate.net/profile/Bin_Wei5">ResearchGate</a></li>
            <hr>
            <li><a href="#书籍章节">书籍章节</a></li>
            <li><a href="#科研论文">科研论文</a>
              <ul>
                <li><a href="#2018-年">2018 年</a></li>
                <li><a href="#2017-年">2017 年</a></li>
                <li><a href="#2016-年">2016 年</a></li>
                <li><a href="#2015-年">2015 年</a></li>
                <li><a href="#2014-年">2014 年</a></li>
                <li><a href="#2013-年">2013 年</a></li>
                <li><a href="#2012-年">2012 年</a></li>
                <li><a href="#2011-年">2011 年</a></li>
                <li><a href="#2010-年">2010 年</a></li>
                <li><a href="#2009-年及以前">更早</a></li>
              </ul>
            </li>
          </ul>
          </div>
        </div>
        <!--pageTopics-->