    <div id="rightCol" class="sticky">
      <!-- #BeginEditable "Right Col" -->
      <a href="http://yjszs.shu.edu.cn/" target="_blank">
        <img src="/images/join.jpg" alt="Join Us" width="187" height="51">
      </a>

      <div id="news">
        <h2>实验室新闻</h2>
        <ul>
          {% for news in site.data.news limit:7 %}
          <li><a href="{{ news.url }}">{{ news.title }}</a></li>
          {% endfor %}
          <li>
            <a href="http://www.fpd.shu.edu.cn/" target="_blank">更多</a>
          </li>
        </ul>
      </div>

    </div><!--rightCol -->