---
layout: page
title: 关于我们
description: 怀一颗云水禅心，简静度日，随缘聚散。念起，美至倾城；尘封，幽幽飘香。
permalink: /about/
---

<h2>TEAM LEADER</h2>
<div class="articleEntry">
  <img src="/images/people/prof.jpg" alt="Article Image 1" width="175" height="auto">
  <div>
    <h2>魏斌 (Bin WEI)</h2>
    <p class="subtitle">1969年出生于辽宁，现任上海大学教授，博士生导师<br>
    <br>
    联系地址：上海市闸北区延长路149号上海大学143信箱（上海大学电机楼229房间）<br>
    邮编：200072<br>
    电话：021-56331431<br>
    邮箱：<a href="mailto:bwei@shu.edu.cn" style="text-transform: lowercase">bwei@shu.edu.cn</a></p>
    <div class="contentBox" style="width: 100%">
      <p></p>
      <p>
        上海大学特聘教授，双博士，上海浦江人才获得者（2008 年）。在日本做研究员期间（2002-2007 年），从事日本文部科学省知识创新项目“无机/有机纳米材料和机能器件研究”中的有机半导体激光和有机 LEDs。 在器件制备、强脉冲电压下半导体特性、高亮度和有机固态激光方面积累了大量的经验。目前担任上海大学新型显示及应用系统集成教育部重点实验室 OLED 方向的学术带头人。
      </p>
    </div>
    <div class="contentBox" style="width: 100%">
      <h3>教育背景</h3>
      <p>
        <ul>
          <li>北京大学	Peking University, China	1986-1990	理学学士</li>
          <li>北京大学	Peking University, China	1990-1993	理学硕士</li>
          <li>筑波大学	University of Tsukuba, Japan	1999-2002	学位博士</li>
          <li>信州大学	Shinshu University, Japan	2006.9	博士（论文）</li>
        </ul>
      </p>
      <h3>工作经历</h3>
      <p>
        <ul>
          <li>2007年4月-现在	上海大学	教授，博士生导师</li>
          <li>2006年12月-2007年1月	北京航空航天大学	访问教授</li>
          <li>2002年8月-2007年3月	日本信州大学	研究员</li>
          <li>1993年9月-1998年10月	北京大学	讲师</li>
          <li>1997年10月-1998年4月	日本学术振兴会(JSPS)	特别研究员</li>
        </ul>
      </p>
    </div>

  </div>
</div>

<div class="clear"></div>

<h2>小组成员</h2>
<ul class="responsive_grid">
  {% for member in site.data.current-member %}
  <li>
    <div class="team_member">
       <div class="info">
         <img src="{{ member.photo }}" alt="{{ member.name }}"/>
         <h5>{{ member.name }}</h5>
         <h6>{{ member.grade }}</h6> 
      </div>
      <div class="info_reveal">
        <h6>联系方式<br/><br/>{{ member.name }}</h6>
        <p><a href="mailto:{{ member.email }}">{{ member.email }}</a></p>
      </div>
    </div>
  </li>
  {% endfor %}
</ul>

<div class="clear"></div>

<h2>已毕业同学</h2>
<ul class="responsive_grid">
  {% for member in site.data.current-member %}
  <li>
    <div class="team_member">
       <div class="info">
         <img src="{{ member.photo }}" alt="{{ member.name }}"/>
         <h5>{{ member.name }}</h5>
         <h6>{{ member.grade }}</h6> 
      </div>
      <div class="info_reveal">
        <h6>联系方式<br/><br/>{{ member.name }}</h6>
        <p><a href="mailto:{{ member.email }}">{{ member.email }}</a></p>
      </div>
    </div>
  </li>
  {% endfor %}
</ul>






<style>
#mainLeft ul li, #mainLeft ol li, #mainLeftFull ul li, #mainLeftFull ol li, #mainColFull ul li, #mainColFull ol li {
  margin-left: 9px;
  padding: 3px 0;
}

#mainLeft ul li a, #mainLeft ol li a, #mainLeftFull ul li a, #mainLeftFull ol li a, #mainColFull ul li a, #mainColFull ol li a {
  color: #f2f2f2;
}

.team_member {
  width:100%;
  position:relative;
  overflow:hidden;
  height:250px;
}

.info {
  height:100%;
}

.info img {
  width:100%;
  transition: all .4s ease-out .1s;
   -moz-transition: all .4s ease-out .1s;
   -webkit-transition: all .4s ease-out .1s;
}

.info h5 {
  padding: 10px 10px 0 0;
  margin: 0 0 10px 3px;
  line-height: 1em;
  opacity: 1;
  transition: all .2s ease-out .1s;
   -moz-transition: all .2s ease-out .1s;
   -webkit-transition: all .2s ease-out .1s;
  font-size: 1.125em;
}

.info h6 {
  padding:0 10px 0 0;
  font-size:12px;
  margin:0 0 0 3px;
  line-height:1em;
  text-transform:uppercase;
  color:#999;
  opacity:1;
  transition: all .2s ease-out .1s;
   -moz-transition: all .2s ease-out .1s;
   -webkit-transition: all .2s ease-out .1s;
}

.info_reveal {
  height:100%; 
  transition: all .3s ease-in 0s;
   -moz-transition: all .3s ease-in 0s;
   -webkit-transition: all .23s ease-in 0s;
  position:absolute;
  width:100%;
  left:0;
  top:-100%;
  background: rgba(46,86,44,0.9);
}

.info_reveal h6 {
  padding: 20px 8px 5px 8px;
  line-height: 1.1em;
		margin-bottom: 20px;
		color: #fff;
  font-size: 1em;
}

.info_reveal p {
  padding:0 8px;
  font-size:15px;
  line-height: 1.2em;
  color: #073a2e;
  font-weight:400;  
}

.info_reveal a {
  color: #073a2e;
		word-break: break-word;
  text-decoration:none;
}

.info_reveal a:hover {
  color: #073a2e;
}


.responsive_grid {
 display:block;
 margin:0;
 padding:0;
 list-style:none;
}

.responsive_grid li {
 cursor:pointer;
 width: 23%;
 margin-right: 2px;
 padding: 0 2px 10px;
 display:block;
 height:auto;
 float:left;
 margin-bottom:10px;
}

.responsive_grid li:hover .info_reveal,
.responsive_grid li:focus .info_reveal{
 left: 0;
 top:0;
 transition: all .3s ease-out .1s;
   -moz-transition: all .3s ease-out .1s;
   -webkit-transition: all .3s ease-out .1s;
}

.responsive_grid li:hover .info img,
.responsive_grid li:focus .info img {
  width:210%;
  margin-left:-50%;
  transition: all .4s ease-in 0s;
   -moz-transition: all .4s ease-in 0s;
   -webkit-transition: all .4s ease-in 0s;
}

.responsive_grid li:hover .info h5,
.responsive_grid li:focus .info h5,
.responsive_grid li:hover .info h6,
.responsive_grid li:focus .info h6 {
  opacity: 0;
  transition: opacity .2s linear 0s;
   -moz-transition: opacity .2s linear 0s;
   -webkit-transition: opacity .2s linear 0s;
}
</style>