---
layout: default
---

    <div id="breadcrumb"><!-- #BeginLibraryItem "/Library/breadcrumb.lbi" -->
      <a href="/">首页</a>
      <!-- #EndLibraryItem --><!-- InstanceBeginEditable name="breadcrumbs" -->
      / <a href="{{ page.url }}">{{ page.title }}</a>
      <!-- InstanceEndEditable -->
    </div>

		{% include rightCol.html %}

    <main>
      <div id="contentLine"></div>
 
      <div id="mainLeft">
				{% if page.pub %}
        {% include pub-menu.html %}
				{% endif %}
        <div id="contentHeader">
          <a id="topH1"></a>

          <!-- #BeginEditable "Page Title and Intro" -->
          <h1>{{ page.title }}</h1>
          <p id="subH1">{{ page.description }}</p>

        </div>

				{{ content }}
 
      <div class="clear"></div>

      <!-- #EndEditable -->
      </div><!--mainLeft-->
    </main>

		<div class="clear"></div>
